<ul class="nav-bar">
    <li class="nav-logo"><img src="../public/images/pp.png" alt="Logo"></li>
    <li class="nav-element"><a href="/contact">Contact</a></li>
    <li class="nav-element"><a href="/portfolio">Portfolio</a></li>
    <li class="nav-element"><a href="/services">Services</a></li>
    <li class="nav-element"><a href="/about"><i class="fab fa-autoprefixer" style="color: rgb(245, 158, 66);"></i>&nbsp;&nbsp;About</a></li>
    <li class="nav-element"><a href="/home">Home</a></li>


</ul>