  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: poppins;
  }
  
  body {
      background-color: #f2f4ff;
  }
  
  .container {
      width: 50vh;
      height: 50vh;
      background-color: #fff;
      margin: 150px auto;
      border-radius: 11px;
      padding: 40px 50px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  /* top-header */
  
  .top-header h2 {
      text-align: center;
      color: #495d76;
  }
  
  .top-header p {
      color: #cecfd3;
      font-size: 13px;
      text-align: center;
      margin-top: 5px;
  }
  /* top-header */
  /* form */
  
  .user input,
  .pass input {
      width: 100%;
      height: 35px;
      border: none;
      border: 1px solid #e6e6e6;
      border-radius: 6px;
      outline: none;
      padding: 0 40px;
  }
  
   ::placeholder {
      color: #9ca5b4;
      font-size: 12px;
  }
  
  .user i,
  .pass i {
      position: relative;
      top: 31px;
      right: -10px;
      color: #3981ed;
  }
  /* form */
  /* button */
  
  .btn {
      display: flex;
      justify-content: center;
      margin-top: 25px;
  }
  
  .btn button {
      width: 100%;
      border: none;
      height: 35px;
      background-color: #277ffd;
      color: #fff;
      border-radius: 6px;
      cursor: pointer;
  }
  /* button */
  
  p.last {
      text-align: center;
      position: relative;
      bottom: 120px;
      font-size: 12px;
  }
  
  @media screen and (max-device-width: 600px) {
      .container {
          width: 100%;
          height: 100vh;
          margin: 0 0;
          border-radius: 11px;
          padding: 25vh 10vh;
      }
      /* top-header */
      .top-header h2 {
          font-size: 35px;
      }
      .top-header p {
          font-size: 20px;
          margin-top: 5px;
      }
      /* top-header */
      /* form */
      .user input,
      .pass input {
          width: 100%;
          height: 55px;
          padding: 0px 40px;
      }
       ::placeholder {
          color: #9ca5b4;
          font-size: 15px;
      }
      /* button */
      .btn {
          margin-top: 25px;
      }
      .btn button {
          width: 100%;
          height: 45px;
          border-radius: 6px;
      }
      /* button */
      p.last {
          text-align: center;
          position: relative;
          bottom: 120px;
          font-size: 18px;
      }
      .user i,
      .pass i {
          top: 50%;
      }
  }
  
  @media screen and (min-device-width: 748px) and (max-device-width: 1024px) {
      .container {
          width: 100%;
          height: 100vh;
          margin: 0 0;
          border-radius: 11px;
          padding: 25vh 10vh;
      }
      /* top-header */
      .top-header h2 {
          font-size: 35px;
      }
      .top-header p {
          font-size: 20px;
          margin-top: 5px;
      }
      /* top-header */
      /* form */
      .user input,
      .pass input {
          width: 100%;
          height: 55px;
          padding: 0 40px;
      }
       ::placeholder {
          color: #9ca5b4;
          font-size: 18px;
      }
      /* button */
      .btn {
          margin-top: 25px;
      }
      .btn button {
          width: 100%;
          height: 45px;
          border-radius: 6px;
      }
      /* button */
      p.last {
          text-align: center;
          position: relative;
          bottom: 120px;
          font-size: 18px;
      }
      .user i,
      .pass i {
          top: 50%;
      }
  }