:root {
    --color-schema1: rgb(245, 158, 66);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

::selection {
    color: rgb(0, 0, 0);
    background: var(--color-schema1);
}

.nav-bar {
    background-color: rgb(255, 255, 255);
    padding: 0 200px;
    border-bottom: 1px dotted grey;
}

.nav-element,
.nav-logo {
    list-style: none;
    display: inline;
}

.nav-element a {
    text-decoration: none;
    color: black;
    float: right;
    padding: 40px 20px;
    font-size: 20px;
}

.nav-logo img {
    height: 100px;
    width: 200px;
}

.nav-bar .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .nav-bar .nav-element:not(:first-child) {
        display: none;
    }
    .nav-bar .icon {
        float: right;
        display: inline-block;
    }
    .nav-logo img {
        height: 50px;
        width: 100px;
        float: left;
    }
    .nav-bar {
        padding: 0 3px;
    }
    .nav-bar .icon {
        padding: 8px 10px;
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .nav-bar.responsive {
        position: sticky;
        top: 0%;
        left: 0%;
        height: 100vh;
    }
    .nav-bar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav-bar.responsive .nav-element {
        float: none;
        text-align: left;
        display: block;
        clear: both;
        text-align: center;
        padding-top: 10vh;
    }
    .nav-bar.responsive .nav-element a {
        float: none;
        padding: 20px;
    }
}


/* Landing page */

.landing-page {
    position: relative;
}

.landing-page img {
    height: 90vh;
    width: 100%;
}

.sedih-image {
    position: absolute;
    bottom: 0;
    right: 10%;
}

.hero-text {
    position: absolute;
    color: white;
    top: 20%;
    left: 15%;
}

.hero-text .hero-name {
    font-size: 7vh;
}

.hero-text .hero-des {
    font-size: 5vh;
    text-align: justify;
}

.hero-text .underline {
    background-color: var(--color-schema1);
    height: 1vh;
    width: 50vh;
    display: inline-block;
}

.buttons {
    position: absolute;
    bottom: 25%;
    left: 15%;
}

.buttons a {
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    margin-right: 20px;
}

.buttons .hire-me {
    border: 3px solid var(--color-schema1);
    border-radius: 25px;
}

.buttons .protofolio {
    background-color: var(--color-schema1);
    border-radius: 25px;
}

.buttons .hire-me,
.buttons .protofolio {
    font-size: 3vh;
}


/* content */

.contentbox,
.faq {
    margin: 0 23vh;
}

.contentbox .underline {
    background-color: var(--color-schema1);
    height: 0.6vh;
    margin-bottom: 3vh;
    width: 100vh;
    display: inline-block;
}

.content p {
    font-size: 2.5vh;
    font-stretch: ultra-expanded;
}


/* contact form */

.form-container {
    padding: 40px;
    !important width: 75%;
    margin: 10vh 25vh;
    padding: 10vh;
}

.form-container .header-text {
    font-weight: bold;
    font-size: 40px;
}

.form-container .des-text {
    font-size: 25px;
    text-align: justify;
}

.form-container .contact {
    font-size: 20px;
    padding-top: 40px;
}

.form-container .underline {
    width: 20vh;
    display: block;
    height: 1vh;
    background-color: var(--color-schema1);
    margin-bottom: 3vh;
}

input[type=text],
input[type=email],
input[type=subject] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border: 1px dotted rgb(189, 184, 184);
    background-color: rgb(245, 239, 239);
    border-radius: 4px;
}

textarea {
    width: 100%;
    resize: vertical;
    background-color: rgb(245, 239, 239);
    border-radius: 2px;
}

input[type=submit] {
    width: 30%;
    background-color: var(--color-schema1);
    color: white;
    padding: 10px 40px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: left;
    clear: both;
    font-size: 20px;
}

.contact-header-text .header {
    font-weight: bold;
    font-size: 60px;
}

.contact-header-text .paragraph {
    font-size: 30px;
}


/*  Mobile Phones Portrait  */

@media screen and (max-device-width: 480px) and (orientation: portrait) {
    .landing-page {
        display: none;
    }
    .form-container .header-text {
        font-weight: bold;
        font-size: 25px;
        padding-left: 15px;
    }
    .form-container .des-text {
        font-size: 15px;
    }
    .form-container {
        /* padding: 4px; */
        margin: 0vh 0vh;
        padding: 7vh;
    }
    .form-container .contact {
        font-size: 15px;
        padding-top: 20px;
    }
    input[type=text],
    input[type=email],
    input[type=subject] {
        padding: 10px 5px;
        margin: 2px 0;
    }
    input[type=submit] {
        padding: 12px 10px;
        margin: 2px 0;
        border-radius: 2px;
        font-size: 12px;
    }
    textarea {
        border-radius: 2px;
    }
    .form-container .underline {
        width: 18vh;
        margin-left: 15px;
        display: block;
        height: 0.5vh;
    }
    .contact-header-text .header {
        font-weight: bold;
        font-size: 30px;
    }
    .contact-header-text .paragraph {
        font-size: 15px;
    }
}


/* Mobile Phones Landscape */

@media screen and (max-device-width: 640px) and (orientation: landscape) {
    /* some CSS here */
}


/* Mobile Phones Portrait or Landscape  */


/* @media screen and (max-device-width: 640px) {
     some CSS here 
} */


/* #### iPhone 4+ Portrait or Landscape #### */

@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
    /* some CSS here */
}


/* #### iPhone 5 Portrait or Landscape #### */

@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
    /* some CSS here */
}


/* #### iPhone 6 and 6 plus Portrait or Landscape #### */

@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
    /* some CSS here */
}


/* #### Tablets Portrait or Landscape #### */

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* some CSS here */
}


/*  Desktops  */


/* @media screen and (min-width: 1024px) {
    some CSS here 
} */


/* Faq */

.details {
    box-shadow: 20px 40px 50px #d4d3d3;
    !important
}

details>summary {
    padding: 40px;
    background-color: #ffffff;
    border-bottom: solid 1px rgb(238, 234, 234);
    cursor: cell;
}

details>p {
    background-color: #ffffff;
    padding: 4px;
    margin: 0;
}

.faq .details {
    margin-top: 4vh;
}


/* Foot-nav */

.footer-nav {
    background-color: var(--color-schema1);
    height: 8vh;
    text-align: center;
    padding: 2vh;
    color: white;
    font-size: 2vh;
}